/* @Version: 0.1.1 */

#CreditsMenu button {
	color: white;
	font-weight: bold;
	width: 150px;
	padding: 15px;
	border: none;
	border-radius: 25px;
	background-color: #616161;
	position: relative;
}

#CreditsMenu button:hover {
	background-color: #757575;
}

#CreditsMenuBackButton {
	top: 550px;
	left: 10px;
}