#OptionsMenu button {
	color: white;
	font-weight: bold;
	width: 150px;
	padding: 15px;
	border: none;
	border-radius: 25px;
	background-color: #616161;
	position: relative;
}

#OptionsMenu button:hover {
	background-color: #757575;
}

#OptionsMenuBackButton {
	top: 553px;
}

#VolumeControl {
	position: relative;
  top: 400px;
	left: 260px;
}