#levelDiv, #characterDiv{
	width: 450px;
	height: 500px;
	position: relative;
	float: left;
}

#characterDiv{
	width: 550px;
}

#levelNavigation{
	width: 420px;
	height: 440px;
	padding-top: 30px;
	float: right;
}

.levelButton, .characterButton{
	height: 70px;
	outline: none;
}

.levelButton{
	width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: right;
	background: url("../resources/menu/SinglePlayerMenu/underConstruction.png");
	background-size: 100% 100%;
}

#levelButton1 {
	background: url("../resources/menu/SinglePlayerMenu/MapPreview.png");
	background-size: 100% 100%;
}

#characterNavigation{
	width: 70px;
	margin: 20px;
	float: left;
	padding-top: 90px;
}

.characterButton{
	width: 70px;
	background: url("../resources/menu/SinglePlayerMenu/interrogationMark.png");
	background-size: 100% 100%;
}

#characterButton1{
	background: url("../resources/menu/SinglePlayerMenu/char1Front.png");
	background-size: 100% 100%;
}

#slideshow{
	width: 382px;
	height: 382px;
	margin: 55px;
	margin-right: 50px;
	margin-left: 0px;
	border: 4px #DDDDDD;
	border-style: ridge groove groove ridge;
	float: right;
	background-image: url("../resources/menu/SinglePlayerMenu/default.png");

	animation-name: animationImage;
	animation-duration: 14s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}

@keyframes animationImage
{
	0% {background-image: url("../resources/menu/SinglePlayerMenu/char1Front.png"); background-repeat: no-repeat;}
	25% {background-image: url("../resources/menu/SinglePlayerMenu/char1Left.png"); background-repeat: no-repeat;}
	50% {background-image: url("../resources/menu/SinglePlayerMenu/char1Back.png"); background-repeat: no-repeat;}
	75% {background-image: url("../resources/menu/SinglePlayerMenu/char1Right.png"); background-repeat: no-repeat;}
	100% {background-image: url("../resources/menu/SinglePlayerMenu/char1Front.png"); background-repeat: no-repeat;}
}

#backButtonSinglePlayer, #startButtonSinglePlayer{
  color: white;
	font-weight: bold;
	width: 150px;
	padding: 15px;
	border: none;
	border-radius: 25px;
	background-color: #616161;
	position: relative;
}

#backButtonSinglePlayer{
  left: 10px;
	top: 50px;
}

#SinglePlayerMenu button:hover {
	background-color: #757575;
}


#startButtonSinglePlayer{
	left: 690px;
	top: 50px;
}

button:disabled {
	opacity: 0.5;
}